<div class="about-section">
    <h1>About Us</h1>
    <h3>Hotel Booking Application</h3>

    <p>
       Booking a hotel room is a key component in any travel plans, but it takes some work. Book the hotel room of your dreams with these simple hotel reservation.</p>
       <h1>How To Book</h1>
<p>


    Many booking sites let you reserve hotel rooms online. If you are unable to access online booking, reach out directly to the hotel. At this time you can ask any booking questions you may have. Ask about payment options, as well. If you feel uncomfortable making a payment online, hotel front desk agents can also help you pay over the phone. You can discuss booking and payment options with a travel agent, as well. If you book through an agent, they can take care of the whole reservation process for you. It's often best to go through a travel agent for overseas booking.
</p>

        
    
  </div>

